{% from '@SyliusBetterSeoPlugin/Macro/seoTranslationForm.html.twig' import seoTranslationForm %}

<div class="ui tab" data-tab="seo">
  <h3 class="ui top attached header">{{ 'app.ui.seo'|trans }}</h3>
  <div class="ui attached segment">
    <div class="ui column stackable grid" id="joppedc-seo-image">
      {{ seoTranslationForm(form.seo.translations) }}
    </div>
  </div>
  {{ sonata_block_render_event('sylius.admin.product.' ~ action ~ '.tab_seo', {'form': form}) }}
</div>
