{% from '@SyliusBetterSeoPlugin/Macro/seoTranslationForm.html.twig' import seoTranslationForm %}

<div class="ui segment" id="joppedc-seo-image">
  <h3 class="ui dividing header">{{ 'app.ui.seo'|trans }}</h3>
  {{ seoTranslationForm(settings.form.seo.translations) }}
</div>
